NODE_ENV=production
PORT={{ outline_port }}
URL="{{ outline_url }}"
FORCE_HTTPS=false
PGSSLMODE=disable
SECRET_KEY="{{ outline_secret_key | replace('\\', '\\\\') | replace('"', '\\"') }}"
UTILS_SECRET="{{ outline_utils_secret | replace('\\', '\\\\') | replace('"', '\\"') }}"
DATABASE_URL=postgres://{{ outline_postgres_user }}:{{ outline_postgres_password | urlencode }}@127.0.0.1:5432/{{ outline_postgres_db }}
REDIS_URL=redis://127.0.0.1:6379
GOOGLE_APPLICATION_CREDENTIALS="{{ outline_google_credentials_path }}"
BUCKET_NAME="{{ outline_bucket_name }}"
ALLOWED_HOSTS="{{ outline_allowed_hosts }}"
