[Unit]
Description=Outline Knowledge Base wiki service
After=network.target postgresql.service redis-server.service
Wants=postgresql.service redis-server.service

[Service]
Type=simple
User={{ outline_system_user }}
Group={{ outline_system_user }}
WorkingDirectory={{ outline_install_dir }}
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment="NODE_OPTIONS=--dns-result-order=ipv4first"
EnvironmentFile={{ outline_install_dir }}/.env
ExecStart=/usr/bin/node build/server/index.js
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
